.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.header {
    text-align: center;
    font-weight: bold;
    font-family: var(--typeface-plain);
    align-self: center;
}

.lessonDialogue {
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: -20px;
    padding: 0 20px;
}

.buttonContainer button {
    background-color: var(--color-primary);
    color: #FDFDFD;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nextBtn {
    background-color: #007bff;
    color: white;
    position: absolute;
    right: 20px;
}

.tryAgainBtn {
    background-color: #f44336;
    color: white;
    position: absolute;
    left: 20px;
}

.skipBtn {
    background-color: #ffc107;
    color: white;
    position: absolute;
    right: 20px;
}