.pointsDisplay {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.text {
    font-size: 25px;
    background-color: #f2f277;
    padding: 3px 15px;
    font-family: var(--md-ref-typeface-brand);
}