.quizMenu {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.quizMenuHeader {
    font-family: var(--typeface-brand);
    color: var(--color-primary);
    font-size: 3rem;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-align: center;
}

.quizMenuSteps {
    padding: 0px 35px;
}

.quizMenuSubheading {
    font-weight: bold;
    text-decoration: underline;
}

.quizMenuContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    line-height: 1.4;
}

.quizMenuButtonContainer {
    display: flex;
    justify-content: end;
}