.gamesInstructionsOverview {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 70%;
    height: min-content;
    margin: 0 auto;
}

.gamesInstructionsMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 2px;
    padding: 20px;
}

.gamesInstructionsHeader {
    font-family: var(--md-ref-typeface-brand);
    color: var(--md-sys-color-primary);
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
}

.gamesInstructionsText {
    font-family: var(--md-ref-typeface-brand);
    color: var(--md-sys-color-primary);
    font-size: 1.3rem;
    padding: 0 0 0 15px;
}

.gamesInstructionsWebcamOverview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 2px;
}

.gamesInstructionsWebcam {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2px;
    margin-top: 0;
    padding: 40px 40px 40px 40px;
    border: 1px solid black;
    border-radius: 10px;
}

.gamesInstructionsWebcamText {
    font-family: var(--md-ref-typeface-brand);
    color: var(--md-sys-color-primary);
    font-size: 1.5rem;
    padding: 0 0 0 15px;
}

.gamesInstructionsSquare {
    height: 500px;
    width: 500px;
    background-color: #fcefd8;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    margin: 0 auto;
  }

.gamesMenuButtonContainer {
    display: flex;
    justify-content: center;
}