.gamesMenuContainer {
    margin: 0 auto;
}

.gamesMenu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gamesMenuImg {
    width: 400px;
    align-self: center;
}

.gamesMenuHeaderContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gamesMenuHeader {
    font-family: var(--md-ref-typeface-brand);
    color: var(--md-sys-color-primary);
    font-size: 24px;
    font-weight: 600;
}

.gamesMenuSubheader {
    font-family: var(--md-ref-typeface-brand);
    color: #919090;
    font-size: 20px;
}

.gamesMenuText {
    font-family: var(--md-ref-typeface-brand);
    color: var(--md-sys-color-primary);
    font-size: 1rem;
}
  
.gamesMenuButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* instructions */
.gamesInstructionsMenu {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.gamesInstructionsHeader {
    color: var(--color-primary);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.gamesInstructionsContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
}

.gamesInstructionsSubheading {
    font-weight: bold;
    text-decoration: underline;
}

.gamesInstructionsText {
    padding: 0px 18px;
}